@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Google sans fonts */
@layer base {
  @font-face {
    /* font-family: 'google-sans', 'sans-serif'; */
    src: url(/public/fonts/GoogleSansDisplay-Regular.ttf) format("woff");
  }
}

*{
    @apply font-googlesans font-normal
}

.profile_card_icons{
  @apply border border-gray-300 rounded-full p-2;
}

.md:grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.md:grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 0.15fr));
}
.grid-cols-4-1 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media (max-width: 660px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 0.15fr)) !important;
  }
  .grid-cols-4-1 {
    grid-template-columns: auto;
  }
  .flex-mobile {
    display: flex !important;
    flex-wrap: wrap;
  }
  .w-mobile-auto {
    width: auto !important;
  }
  .background, .wtm-background, .gdc-background {
    background-size: contain !important;
  }
}
.home-text {
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid #dcd7d7;
}
.technology-card {
    border: 1px solid #5f6368;
    border-radius: 10px;
}
.bg-primary {
    background: linear-gradient(183deg, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 35%);
}
.text-primary {
  color: #616161!important;
}
.image-wrapper {
  border-radius: 50%;
  background-color: #ffffff;
  width: 9em;
  height: 8em;
  display: flex;
  justify-content: center;
  padding: 17px;
  align-items: center;
}
.background {
  background:url('/gdg-banner-logo.jpeg');
  background-repeat: no-repeat;
   background-size: cover;
}
.wtm-background {
  background:url('/wtm-indore-banner.jpeg');
  background-repeat: no-repeat;
   background-size: cover;
}
.gdc-background {
  background:url('/Cloud-indore.jpeg');
  background-repeat: no-repeat;
   background-size: contain;
}
